body {
    font-family: 'Lexend', Arial, sans-serif; 
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(242, 249, 255);
}
/* Signing in and the home page */
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    display: none;
}

.home-page h1 {
    font-size: 96px;
    font-weight: 400;
    margin-bottom: 0px;
}

.home-page p {
    font-size: 32px;
    margin-bottom: 60px;
}

#sign-in-google {
    background: none;
    border: none;
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
    width: 600;
    height: 150px;
}


#sign-in-google img {
    width: 100%;
    height: 100%;
}

/* Nav bar - adding cards and signing out */
nav {
    display: flex;
    justify-content: end;
}

/* Adding cards btn */
.add-cards {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

#add-cards-btn {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 400;
    background-color: goldenrod;
    transition: opacity 1s;
}

#add-cards-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Signing out */
.sign-out {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

#sign-out {
    font: inherit;
    background: none;
    border: none;
    transition: opacity 1s;
}

#sign-out:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Adding cards multi-line form */
#adding-cards {
    max-width: 800px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: lightgray;
    padding: 30px;
    border-radius: 20px;
    display: none;
}

#adding-cards-form {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

#adding-cards-form-label {
    font-size: 24px;
}

#inputed-flashcards-textarea {
    height: 500px;
    font: inherit;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
}

#inputed-flashcards-submit-btn {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border: none;
    font: inherit;
    border-radius: 20px;
}